[submodule "OCA/hr-holidays"]
	path = OCA/hr-holidays
	url = git@github.com:OCA/hr-holidays.git
	branch = 13.0

[submodule "OCA/project"]
	path = OCA/project
	url = git@github.com:OCA/project.git
	branch = 13.0

[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 13.0
